@model IEnumerable<template01.Models.recetas10>
@{
    ViewBag.Title = "_obtienelcientes";
}



<label for="form_control_1">Escriba la informacion a buscar:</label>

<select id="cboreceta" class="form-control">
    <option></option>
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <option value="@item.idreceta">@item.descripcion</option>
            }
        }

    }
</select>