

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";



}
<link href="~/assets/pages/css/about.min.css" rel="stylesheet" type="text/css" />



<!-- BEGIN PAGE BAR -->
<div class="page-bar bg-grey-steel bg-font-grey-steel">
    <ul class="page-breadcrumb">
        <li>
            <a href="index">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Alta de Marcas</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <img src="~/assets/pages/img/banners/computer-2982270_1920.jpg" />
    </div>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->

<h1 class="page-title">
    Alta de Marcas
    <small></small>
</h1>


<div class="col-md-12">

    <div class="portlet light bordered" id="mchat">
        <div class="portlet-body form">
            <form role="form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input ">
                                <input type="text" class="form-control" id="idapellidom" placeholder="">
                                <label for="form_control_1">Nombre de la marca</label>
                            </div>
                        </div>



                    </div>





                </div>
                <input class="btn btn-black btn-block "
                       onclick="Registrar()" id="idterminar"
                       type="button" value="Agregar" />

            </form>
            <form role="form">
                <div class="form-body">
                    <div class="row">

                        <div class="col-md-4">

                            <label for="form_control_1">Registros Agregados </label>

                        </div>




                    </div>
                    <div class="row">

                        <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th> # folio marca</th>
                                    <th> Nombre de marca</th>
                                    <th>clave</th>

                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 101 </td>
                                    <td>Lenovo</td>
                                    <td> LE </td>

                                </tr>
                                <tr>
                                    <td> 102</td>
                                    <td>Acer</td>
                                    <td> AC </td>

                                </tr>
                                <tr>
                                    <td> 103</td>
                                    <td>IBM</td>
                                    <td> IB </td>

                                </tr>

                            </tbody>
                        </table>

                    </div>



                </div>


            </form>
        </div>
    </div>



</div>




<script src="~/Scripts/jquery.js"></script>


<!-- END CONTENT HEADER -->
<!-- BEGIN CARDS -->
<!-- END CARDS -->
<!-- BEGIN TEXT & VIDEO -->
<!-- END TEXT & VIDEO -->
<!-- BEGIN MEMBERS SUCCESS STORIES -->
<!-- END MEMBERS SUCCESS STORIES -->
<!-- BEGIN LINKS BLOCK -->
<!-- END LINKS BLOCK -->
