
@{
    Layout = "~/Views/Shared/_Main.cshtml";
}
<link href="~/assets/apps/css/registrar.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<script src="~/Scripts/jquery-ui.min.js"></script>


<div class="sidenav">
    <div class="login-main-text">
        <h1>PERI - INFORMES<br>Registro de informes</h1>
        <h2>Siga las instrucciones para enviar su informe</h2>
        <br />
        <br />
        <h3>Al finalizar en automatico se enviara el informe via correo electronico y se guardara en BD para consultarlo posteriormente</h3>

    </div>
</div>
<div class="main">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li><i class="fa fa-circle"></i></li>
            <li></li>
        </ul>
    </div>

    <div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Styled Tabs
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body" style="display: block;">
            <h3>Default Tab</h3>
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab_15_1" data-toggle="tab" aria-expanded="true"> Section 1 </a>
                    </li>
                    <li class="">
                        <a href="#tab_15_2" data-toggle="tab" aria-expanded="false"> Section 2 </a>
                    </li>
                    <li class="">
                        <a href="#tab_15_3" data-toggle="tab" aria-expanded="false"> Section 3 </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_15_1">
                        <p> I'm in Section 1. </p>
                        <p>
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                            consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                        </p>
                    </div>
                    <div class="tab-pane" id="tab_15_2">
                        <p> Howdy, I'm in Section 2. </p>
                        <p>
                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                            consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                        </p>
                        <p>
                            <a class="btn green" href="ui_tabs_accordions_navs.html#tab_15_2" target="_blank"> Activate this tab via URL </a>
                        </p>
                    </div>
                    <div class="tab-pane" id="tab_15_3">
                        <p> Howdy, I'm in Section 3. </p>
                        <p>
                            Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel
                            eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
                        </p>
                        <p>
                            <a class="btn yellow" href="ui_tabs_accordions_navs.html#tab_15_3" target="_blank"> Activate this tab via URL </a>
                        </p>
                    </div>
                </div>
            </div>
            <h3>Below Tab</h3>
            <div class="tabbable-line tabs-below">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_16_2_1">
                        <p> I'm in Section 1. </p>
                        <p>
                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                            consequat.
                        </p>
                        <p>
                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                            consequat dolor in hendrerit in vulputate velit esse molestie consequat.
                        </p>
                    </div>
                    <div class="tab-pane" id="tab_16_2_2">
                        <p> Howdy, I'm in Section 2. </p>
                        <p>
                            Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel
                            eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                        </p>
                        <p>
                            <a class="btn yellow" href="ui_tabs_accordions_navs.html#tab_16_2_2" target="_blank"> Activate this tab via URL </a>
                        </p>
                    </div>
                    <div class="tab-pane" id="tab_16_2_3">
                        <p> Howdy, I'm in Section 3. </p>
                        <p>
                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                            consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate.
                        </p>
                        <p>
                            <a class="btn purple" href="ui_tabs_accordions_navs.html#tab_16_2_3" target="_blank"> Activate this tab via URL </a>
                        </p>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_16_2_1" data-toggle="tab"> Section 1 </a>
                    </li>
                    <li>
                        <a href="#tab_16_2_2" data-toggle="tab"> Section 2 </a>
                    </li>
                    <li>
                        <a href="#tab_16_2_3" data-toggle="tab"> Section 3 </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- Modal -->

</div>

<script>
    function Registrar() {


        var idvtipo = "1";
        var idnombre = "2";
        var idapellidop = "3";
        var idapellidom = "4";
        var idcorreo = $("#idcorreo").val();
        var idusuario = $("#idcorreo").val();
        var idvrazon = "prueba";
        var idedad = "9"
        var idpass = "44"

        var regex = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if (regex.test(idcorreo)) {
           // alert("correo correcto");
        }
        else {
            alert("su correo:" + idcorreo +" es incorrecto");
            return false;
        }

        if (idvtipo == "" ||
            idnombre == "" ||
            idapellidop == "" ||
            idapellidom == "" ||
            idcorreo == "" ||
            idusuario == "" ||
            idvrazon == "" ||
            idedad == "" ||
            idpass == ""
            ) {
            alert("Por favor llene todos los campos");
        }
        else {
            console.log("entro al post");
                    $.post("@Url.Action("Registrar", "Registrarse")",
                        {
                            vtipo: idvtipo,
                            nombre: idnombre,
                            apellidop: idapellidop,
                            apellidom: idapellidom,
                            correo: idcorreo,
                            usuario: idcorreo,
                            vrazon: idvrazon,
                            edad: idedad,
                            pass: idpass
                        },
                        function (data) { })
                              .done(function (response) {
                                //  recargar()
                                  location.reload();
                              })
                        .fail(function (response) {
                            location.reload();

                });
            alert("El informe se ha enviado asu correo electronico ");

        }


        };
</script>
