
@{
    Layout = "~/Views/Shared/_Main.cshtml";
}
<link href="~/assets/apps/css/registrar.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
    <div class="login-main-text">
        <h1>Tu Couch Personal<br>Registro Coach</h1>
        <p>Login or register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li><i class="fa fa-circle"></i></li>
            <li></li>
        </ul>
    </div>


    <div class="portlet light bordered">

        <div class="portlet-body">

            <div class="portlet-body form">
                <form role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input ">
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <label for="form_control_1">¿Cual es su nombre?</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input ">
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <label for="form_control_1">¿Cual es su apellido paterno?</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input ">
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <label for="form_control_1">¿Cual es su apellido materno?</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <label for="form_control_1">¿Cual es su edad?</label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <label for="form_control_1">¿Desea escribir una descripcion para que sus clientes la vean?</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="">
                                <label for="form_control_1">¿Cual es su correo electronico?</label>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <div class="input-group">
                                <input type="password" class="form-control" id="inputPassword12" placeholder="Password">
                                <label for="form_control_1">Digite su nueva Contraseña</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-actions noborder">
                        <button type="button" class="btn blue">Registrar</button>
                    </div>
                </form>
            </div>
            <div class="container">







            </div>
            <div class="portlet-body" id="_ListRegistros"></div>

        </div>
    </div>



    <!-- Modal -->

</div>
