<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings> 
      <add name="YCP_BD" connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=ycp;Integrated Security=False;User ID=ycp;Password=Nz02p!!dp8Nx   ;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.EntityClient"/>
    <add name="ConexionDB"
     connectionString="Data Source=LPR00156M62PB01\SQLEXPRESS01;
   initial catalog=YCP;persist security info=True; 
   Integrated Security=SSPI;"
     providerName="System.Data.SqlClient" />   
  </connectionStrings>
</configuration>