<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings> 
      <add name="ConexionDB" connectionString="Data Source=gfdesarrollo01\GFSQLSRVDES01,1433;Initial Catalog=Polanco;Integrated Security=False;User ID=sa;Password=GFDes01;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.EntityClient"/>
    <add name="YCP_BD"
     connectionString="Data Source=LPR00156M62PB01\SQLEXPRESS01;
   initial catalog=YCP;persist security info=True; 
   Integrated Security=SSPI;"
     providerName="System.Data.SqlClient" />   
  </connectionStrings>
</configuration>