<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UnificacionDocumentoDao.Properties.Settings.BD_ConvocatoriaSenado_ConsejeroJFConnectionString"
            connectionString="Data Source=192.168.50.66;Initial Catalog=BD_ConvocatoriaSenado_ConsejeroJF;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UnificacionDocumentoDao.Properties.Settings.BD_ConvocatoriaSenado_TitularCNDHConnectionString"
            connectionString="Data Source=192.168.50.66;Initial Catalog=BD_ConvocatoriaSenado_TitularCNDH;User ID=sa;Password=5en4d0.Pr0d"
            providerName="System.Data.SqlClient" />
        <add name="UnificacionDocumentoDao.Properties.Settings.BD_ConfiguracionDocumentoPDFConnectionString"
            connectionString="Data Source=192.168.10.64;Initial Catalog=BD_ConfiguracionDocumentoPDF;User ID=sa;Password=5en4d0.C0m"
            providerName="System.Data.SqlClient" />
        <add name="UnificacionDocumentoDao.Properties.Settings.BD_ConfiguracionDocumentoPDFConnectionString1"
            connectionString="Data Source=192.168.50.66;Initial Catalog=BD_ConfiguracionDocumentoPDF;Persist Security Info=True;User ID=sa;Password=5en4d0.Pr0d"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>