
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";



}



<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/assets/pages/css/about.min.css" rel="stylesheet" type="text/css" />
    @*<link href="~/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/css/select2.css" rel="stylesheet" />

    <link href="~/css/select2-bootstrap.css" rel="stylesheet" />
    <!---  SCRIPOS SOLO PARA DATEPIKER  -->

    <link href="~/Scripts/est/calendario/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <script src="~/Scripts/est/js/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/est/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/est/calendario/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>

    <script src="~/Scripts/est/calendario/js/locales/bootstrap-datetimepicker.es.js" charset="UTF-8"></script>
    <!---  SCRIPOS SOLO PARA DATEPIKER  -->
</head>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Acceso y/o Salida</span>
        </li>
    </ul>

</div>
<body>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="glyphicon glyphicon-qrcode font-blue-steel"></i> <span class="caption-subject font-blue-steel sbold">
                    Sistema Camaras
                </span>
            </div>
        </div>
        <div class="portlet-body">

            <div class="portlet box grey-sharp">
                <div id="bodyFiltro" style="" class="portlet-body">
                    <div class="controller btn btn-black btn-block ">
                        <button id="snap">tomar foto</button>
                    </div>
                    <div class="video-wrap">
                        <video id="video" playsinline autoplay></video>
                    </div>

                    <div class="portlet-body form">
                        <form role="form">
                            <div class="form-body hidden" id="informacion">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-md-line-input">
                                            <input type="text" class="form-control" id="idedad" placeholder="">
                                            <label for="form_control_1">Ingrese el Numero de placa</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group form-md-line-input">
                                            <input type="text" class="form-control" id="idvrazon" placeholder="">
                                            <label for="form_control_1">Nombre Persona que entra o sale</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <input class="btn btn-black btn-block hidden "
                                   onclick="Registrar()" id="idterminar"
                                   type="button" value="Guardar" />
                            <script>
                                function Registrar() {
                                    location.reload();
                                }
                            </script>
                        </form>
                    </div>

                    <canvas id="SigCnv2" width="640" height="480"></canvas>

                    <script>
                        'use strict';

                        const video = document.getElementById('video');
                        const canvas = document.getElementById('SigCnv2');
                        const snap = document.getElementById("snap");
                        const errorMsgElement = document.querySelector('span#errorMsg');

                        const constraints = {
                            audio: false,
                            video: {
                                width: 1280, height: 720
                            }
                        };

                        // Access webcam
                        async function init() {
                            try {
                                const stream = await navigator.mediaDevices.getUserMedia(constraints);
                                handleSuccess(stream);
                            } catch (e) {
                                //  errorMsgElement.innerHTML = `navigator.getUserMedia error:${e.toString()}`;
                            }
                        }

                        // Success
                        function handleSuccess(stream) {
                            window.stream = stream;
                            video.srcObject = stream;
                        }

                        // Load init
                        init();

                        // Draw image
                        var context = canvas.getContext('2d');
                        snap.addEventListener("click", function () {
                            context.drawImage(video, 0, 0, 640, 480);
                            $("#video").addClass("hidden");
                            $("#informacion").removeClass("hidden");
                            $("#snap").addClass("hidden");
                            $("#idterminar").removeClass("hidden");
                        });
                    </script>

                    <form id="form1" runat="server">
                        <div>

                            <canvas id="SigCnv" width="640" height="480"></canvas>




                            @*<input type="button" id="btnSave" onclick="guardar()" name="btnSave" value="Guardar imagen" />*@
                            <script type="text/javascript">

                                // Send the canvas image to the server.
                                function guardar() {
                                    var image = document.getElementById("SigCnv2").toDataURL("image/png");
                                    image = image.replace('data:image/png;base64,', '');
                                    $.ajax({
                                        type: 'POST',
                                        url: '/Login/UploadImage',
                                        data: '{ "imageData" : "' + image + '" }',
                                        contentType: 'application/json; charset=utf-8',
                                        dataType: 'json',
                                        success: function (msg) {
                                            alert('Image saved successfully !');
                                        }
                                    });
                                }



                            </script>
                        </div>
                    </form>
                </div>

            </div>
            <div class="container">
                <!-- Trigger the modal with a button -->
                <!-- Modal -->
                <div id="infopersonaCl">

                </div>


            </div>


            <!-- /input-group -->

        </div>
        <div class="portlet-body" id="_ListRegistros"></div>

    </div>
    </div>



    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/select2_locale_es.js"></script>
    <script>


        $(document).ready(function () {

        });


    </script>
</body>

</html>
