
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";



}

<link href="~/assets/pages/css/about.min.css" rel="stylesheet" type="text/css" />



<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">      
        <li>
            <a href="index">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>            
            <span>Consulta Clientes</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <img src="~/assets/pages/img/banners/office-336368_1920.jpg" />
    </div>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->

<h1 class="page-title">
  Consulta de clientes 
    <small></small>
</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<!-- BEGIN CONTENT HEADER -->

<input type="hidden" id="proceso" value="0">



<div class="row margin-bottom-25 about-author">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption">
                        <i class="icon-bubbles font-dark hide"></i>
                        <span class="caption-subject font-dark bold uppercase">Tablero de Clientes</span>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_2" data-toggle="tab" aria-expanded="true">Clientes Nutricion</a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_2">
                            <!-- BEGIN: Comments -->
                            <div class="mt-comments">
                                <div class="mt-comment">
                                    <div class="mt-comment-body">
                                        <div class="mt-comment-info">
                                            <span class="mt-comment-author">Cristian Arevalo torres </span>
                                            <span class="mt-comment-date">80 kg</span>
                                        </div>
                                        <div class="mt-comment-text"> Decidi hacer un cambio para mejorar mi salud </div>
                                        <div class="mt-comment-details">
                                            <span class="mt-comment-status mt-comment-status-approved">Vigente</span>
                                            <ul class="mt-comment-actions">
                                                <li>
                                                    <button type="button" class="btn btn-default">Monitorear</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-comments">
                                <div class="mt-comment">
                                    <div class="mt-comment-body">
                                        <div class="mt-comment-info">
                                            <span class="mt-comment-author">Juan Carlos Ramos Hernández</span>
                                            <span class="mt-comment-date">80 kg</span>
                                        </div>
                                        <div class="mt-comment-text"> Decidi hacer un cambio para mejorar mi salud </div>
                                        <div class="mt-comment-details">
                                            <span class="mt-comment-status mt-comment-status-approved">Vigente</span>
                                            <ul class="mt-comment-actions">
                                                <li>
                                                    <button type="button" class="btn btn-default">Monitorear</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-comments">
                                <div class="mt-comment">
                                    <div class="mt-comment-body">
                                        <div class="mt-comment-info">
                                            <span class="mt-comment-author">Edgar Ramírez López</span>
                                            <span class="mt-comment-date">80 kg</span>
                                        </div>
                                        <div class="mt-comment-text"> Decidi hacer un cambio para mejorar mi salud </div>
                                        <div class="mt-comment-details">
                                            <span class="mt-comment-status mt-comment-status-approved">Vigente</span>
                                            <ul class="mt-comment-actions">
                                                <li>
                                                    <button type="button" class="btn btn-default">Monitorear</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-comments">
                                <div class="mt-comment">
                                    <div class="mt-comment-body">
                                        <div class="mt-comment-info">
                                            <span class="mt-comment-author">Agustín Blanco</span>
                                            <span class="mt-comment-date">80 kg</span>
                                        </div>
                                        <div class="mt-comment-text"> Decidi hacer un cambio para mejorar mi salud </div>
                                        <div class="mt-comment-details">
                                            <span class="mt-comment-status mt-comment-status-approved">Vigente</span>
                                            <ul class="mt-comment-actions">
                                                <li>
                                                    <button type="button" class="btn btn-default">Monitorear</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END: Comments -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


<script>

</script>


<!-- END CONTENT HEADER -->
<!-- BEGIN CARDS -->
<!-- END CARDS -->
<!-- BEGIN TEXT & VIDEO -->
<!-- END TEXT & VIDEO -->
<!-- BEGIN MEMBERS SUCCESS STORIES -->
<!-- END MEMBERS SUCCESS STORIES -->
<!-- BEGIN LINKS BLOCK -->
<!-- END LINKS BLOCK -->
